// Fontes
$fontPrincipal: Roboto, sans-serif;
$fontMobile: "Archivo Black", sans-serif;


// Esquema de Cores
$corDeFundo: #F5F6FA;
$corPrincipal: #192A56;
$corSecundaria: #273C75;
$corTerciaria: #487eb0;
$corDetalhes: #fbc531;
$corGradientTitulos: linear-gradient(to top, #273C75, #487eb0);
$sectionCorLaranja: linear-gradient(to bottom, #f5f6fa, #fbc531);
$corHeader: linear-gradient(to bottom, #192A56, transparent );


// Breakpoints
$mobile: 1009px;
$tablet: 1023px;
