/*Importações*/

@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

/*Functions*/

@mixin elementoform($margin: 16px) {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}

@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px) {
    @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

/*Corpo e Header*/

body {
    background: linear-gradient(to bottom, variaveis.$corDeFundo, #dcdde1)
}

h2,
a {
    font-family: variaveis.$fontCarousel;
}

a {
    font-size: 12px;
}

header .nav .nav-link.active {
    color: variaveis.$corDeFundo;
    background-color: variaveis.$corTerciaria;
}

header {
    background: variaveis.$corHeader;
    display: flex;



    .nav-pills {
        transition: opacity 1s ease;
        opacity: 0.5;
        padding-right: 68px;

        &:hover {
            opacity: 1;
        }
    }

    a.nav-link {
        background: variaveis.$corHeader;
        margin-left: 2px;
        height: 70px;
        display: flex;
        align-items: center;
        border-radius: none;
        color: variaveis.$corDeFundo;

        &:hover {
            border-bottom: 3px solid variaveis.$corDetalhes;
            color: variaveis.$corDetalhes;
        }
    }

    .nav-pills .nav-link {
        border-radius: 0;
    }


    img.logo-fn {
        padding-left: 68px;
        max-width: 380px;
        width: 100%;
    }

    button.navbar-toggler.mb-2 {
        background-color: variaveis.$corSecundaria;

    }
}

/*Carousel*/

.font-text {
    font-family: variaveis.$fontCarousel;
    font-weight: bolder;
    color: variaveis.$corDeFundo;
    text-shadow: 3px 3px 5px variaveis.$corPrincipal;
}


.img-size {
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid variaveis.$corPrincipal;
}

div.col-12 {
    padding: 0;
}

div.alinhamento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    a.btn-servicos {
        background-color: variaveis.$corDetalhes;
        border-radius: 2px;
        font-weight: bolder;
        padding: 14px;
        margin-top: 18px;
        border: none;
        border-radius: 6px;
        color: variaveis.$corPrincipal;
        text-decoration: none;

        &:hover {
            background-color: darken($color: variaveis.$corDetalhes, $amount: 10%);
        }
    }
}

.mask-transparent {
    mask-image: linear-gradient(to bottom, transparent 10%, black 45%);
}

.texto-sombreado {
    text-shadow: 10px 10px 16px rgba(1, 1, 1, 0.9);
    color: rgba(243, 120, 6, 0.8);
    text-transform: uppercase;
}

.carousel-caption {
    color: variaveis.$corPrincipal;
    text-transform: uppercase
}

/*Borda detalhes*/

.borda {
    border-bottom: 2px solid variaveis.$corDetalhes;
    padding: 4px;
}

.borda-2 {
    border-bottom: 0.4px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 28px;
}

.cunstom-rounded-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.cunstom-rounded-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


/*Seção nossos serviços*/


section#nossos-servicos,
section#nosso-contato {
    padding-bottom: 68px;
    background: variaveis.$corDeFundo;
}

.servicos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;

    .h5,
    h4 {
        color: variaveis.$corPrincipal;
        padding: 6px;
    }



}

section#nossa-apresentacao {
    height: 520px;
}

.duas-colunas-servicos-img {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 6px;
    height: 18rem;
    margin: 0 auto;
    background: linear-gradient(to bottom, variaveis.$corSecundaria, variaveis.$corTerciaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 28px;

    .h1-style {
        font-family: variaveis.$fontCarousel;
        color: white;
        font-size: 3.5rem;
        font-weight: bolder;
        text-shadow: 2px 2px 4px variaveis.$corPrincipal;
    }

    .a-img-size {
        width: 20rem;
        border-radius: 6px;
    }
}

/*Seção de contato*/

.align {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        max-width: 860px;
        width: 100%;
        padding: 18px;
    }

    .form-campo {
        margin-bottom: 6px;
        width: 100%;

        label {
            font-weight: bolder;
            text-transform: uppercase;
            padding: 10px;
            cursor: pointer;
            display: block;
            text-decoration: underline;
        }

        input {
            border: none;
            width: 80%;
            height: 2em;
            text-align: center;
            background-color: variaveis.$corDeFundo;
            border-radius: 6px;
            cursor: pointer;
            color: variaveis.$corPrincipal;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: #ccc;
            }
        }

        input::placeholder {
            color: #ccc;
            font-size: 0.8rem;
        }

        textarea {
            resize: none;
            height: 120px;
            width: 80%;
            border: none;
            border-radius: 6px;
            background-color: variaveis.$corDeFundo;
            text-align: center;
            cursor: pointer;
            color: variaveis.$corPrincipal;


            &:focus {
                outline: none;
            }

            &:hover {
                background-color: #ccc;
            }
        }

        textarea::placeholder {
            color: #ccc;
            font-size: 0.8rem;
            padding-top: 10px;
        }

    }
}

/* Seção de Serviços */

section#agenciamento-maritmo,
section#gerenciamento,
section#gerenciamento-projetos,
section#acessoria {
    margin-bottom: 28px;
}

.descricao-servicos {
    padding: 28px;
}

.agenciamento-maritimo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 28px;

    a {
        img {
            width: 60px;
            margin-right: 20px;
        }
    }

    .duas-colunas-servicos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3%;
    }
}

.cor-destaque {
    font-weight: bolder;
    color: variaveis.$corPrincipal;
    font-family: variaveis.$fontCarousel;
}

.font-servicos {
    font-family: variaveis.$fontCarousel;
    font-weight: 600;
}


.btn-contato {
    background-color: variaveis.$corDetalhes;
    border-radius: 6px;
    font-weight: bolder;
    padding: 14px;
    margin-top: 12px;
    border: none;
    width: 11.8em;


    &:hover {
        background-color: darken($color: variaveis.$corDetalhes, $amount: 10%);
    }
}

.navbar-brand {
    margin: 0;
}


.tres-colunas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 28px;
}

.duas-colunas {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/* Seção sobre-nos */

section#sobre-nos {
    img.a-img-size {
        height: 16rem;
        width: 16rem;
    }
}

/* Seção Trabalhe Conosco */
section#trabalheconosco .font-text
{
    font-size: 1.4rem;
    padding: 18px;
}

section#trabalheconosco .duas-colunas-servicos-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 43rem;
    padding: 28px;
}

section#trabalheconosco .a-img-size
{
    height: 400px;
    width: 550px;
    border: 3px solid variaveis.$corDeFundo;
}

.font-pequena
{
    font-size: 1rem;
}

input#curriculo
{
    background-color: #fff;
}


/* cards*/

#valores {
    .card-tab {
        display: flex;
        justify-content: flex-start;
    }
}


.card-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0;
    height: 28rem;
    margin-top: 12px;
    padding-top: 12px;

    .icon-size {
        width: 58px;
    }


    div {
        padding: 18px;
    }

    h2 {
        padding-left: 18px;
        padding-right: 18px;
        font-family: variaveis.$fontCarousel;
        font-weight: bolder;
        color: variaveis.$corPrincipal;
    }

    p {
        padding-left: 18px;
        padding-right: 18px;
        font-family: variaveis.$fontCarousel;
        font-weight: bold;
        color: variaveis.$corPrincipal
    }

}

.card {
    border: none;
}

aside {
    width: 90%;
    margin-top: 12px;
}



.btn-apresentacao {

    border: none;
    margin-bottom: 4px;
    padding: 10px;
    color: variaveis.$corPrincipal;
    font-family: variaveis.$fontCarousel;
    font-weight: bolder;
    background-color: variaveis.$corDetalhes;
    border-radius: 6px;


    &:hover {
        background-color: darken($color: variaveis.$corDetalhes, $amount: 10%);
    }
}

.tab-pane-active {
    background-color: variaveis.$corDetalhes;
}

.card-tab div {
    padding: 28px 18px 28px 18px;
}


/* balão de mensagem */

@mixin tooltip($posicao: right, $largura: auto) {
    position: relative;
    display: inline-block;

    &:hover {
        .tooltip {
            visibility: visible;
            opacity: 1;
            left: 48%;
            top: 0;
        }
    }

    .tooltip {
        visibility: hidden;
        width: 12.5rem;
        background-color: variaveis.$corPrincipal;
        color: variaveis.$corDeFundo;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        transition: opacity 0.3s;
    }

}

.imagem {
    @include tooltip(right, 120px)
}




/*Rodapé*/

footer {
    display: flex;
    justify-content: space-between;

    li {
        list-style: none;
        margin-right: 8px;
    }
}



/*BreakPoints*/

@media (max-width: 1398px) {
    div.tres-colunas {
        .row {
            padding: 28px 10px 28px 10px;

        }

        h2 {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 1024px) {
    .servicos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        text-align: center;
    }

    .duas-colunas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-apresentacao {
        width: 60%;
    }

    aside {
        width: 100%;

        nav {
            align-items: center;
        }
    }

    .card-tab {
        font-size: 0.9rem;
    }

    ul.nav.nav-pills {
        padding-right: 68px;
    }

    section#nossa-apresentacao {
        height: 780px;

        .card,
        .card-tab {
            height: 550px;
        }
    }

    .tres-colunas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 28px 18px 28px 18px;


    }

    .card-tab div {
        padding: 28px 18px 28px 18px;
    }

    div.container {
        height: 700px;
    }


    .duas-colunas-servicos-img {
        height: 12rem;

        .h1-style {
            font-size: 3rem;
        }

        .a-img-size
        {
            width: 12rem;
        }

        
    }
    section#sobre-nos img.a-img-size
    {
        width: 13rem;
        height: 10rem;
    }

    section#trabalheconosco .duas-colunas-servicos-img
    {
        height: 39.9rem;
    }

    .align
    {
        form
        {
            height: 38.6rem;
        }
    }

    

}

@media (max-width: 990px) {
    header {
        ul.nav.nav-pills {
            padding: 0px;
        }

        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-pills {
            transition: none;
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }
    }

    .duas-colunas-servicos-img {
        height: 12rem;

        .h1-style {
            font-size: 2rem;
        }

        .a-img-size {
            width: 12rem;
        }
    }

    section#trabalheconosco .duas-colunas-servicos-img
    {
        height: 41.3rem;
    }
}

@media (max-width: 768px) {
    .servicos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    img.logo-fn-img-fluid {
        padding-left: 0;
    }

    ul.nav.nav-pills {
        padding: 18px;
    }

    form.card {
        width: 100%;
    }

    .font-text {
        font-size: 1.2rem;
        font-weight: bolder;
        color: variaveis.$corDeFundo;
        text-shadow: 2px 2px 4px black;
    }

    .img-size {
        height: 372px;
    }

    .duas-colunas {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }

    .card-tab {
        display: flex;
        height: 14rem;
        text-align: center;
        align-items: center;

        h2,
        p {
            font-size: 0.9rem;
            padding-bottom: 8px;
            padding-top: 8px;
            margin-bottom: 0;
        }

        h2.borda {
            font-size: 1.7rem;
        }
    }

    aside {
        width: 100%;
        text-align: center;
    }

    section#nossa-apresentacao {
        height: 830px;

        .card,
        .card-tab {
            height: 600px;
            justify-content: center;
        }

        .img-responsize {
            display: none;
        }
    }

    .tres-colunas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 0px;
    }

    div.container {
        height: 700px;
    }

    .cunstom-rounded-right {
        display: none;
    }

    div#imgdiv {
        display: none;
    }

    div#imgdiv.col-md-6.card-tab {
        display: none;
    }

    div.tres-colunas .row {
        padding: 20px;
    }


    .agenciamento-maritimo .duas-colunas-servicos {
        display: grid;
        grid-template-columns: 1fr;
    }

    section#trabalheconosco .duas-colunas-servicos-img
    {
        height: 45.3rem;
        width: 37rem;
    }
}




@media (max-width: 590px) {
    .imagem .tooltip {
        width: 8rem;
        font-size: 0.6rem;
    }

    section#nossa-apresentacao {
        .duas-colunas {
            justify-content: center;
        }

        .card-tab {
            width: 100%;
        }
    }

    .imagem .tooltip {
        width: 4.9rem;
        font-size: 0.5rem;
    }

    .duas-colunas-servicos-img {
        height: 9rem;

        .h1-style {
            font-size: 1rem;
        }

        .a-img-size {
            width: 9rem;
        }
    }

    .font-servicos {
        font-size: 0.8rem;
    }

    .cor-destaque
    {
        font-size: 0.8rem;
    }

    .agenciamento-maritimo .duas-colunas-servicos
    {
        gap: 1%;
    }

    section#sobre-nos img.a-img-size
    {
        width: 9rem;
        height: 8rem;
    }

    section#trabalheconosco .a-img-size
    {
        width: 21.3rem;
        height: 21.8rem;
    }

    section#trabalheconosco .duas-colunas-servicos-img
    {
        width: 25rem;
        height: 49rem;
        padding: 18px;
    }


}

@media (max-width: 425px) {
    .servicos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    img.logo-fn {
        padding: 5px !important;
    }


    ul.nav.nav-pills {
        padding: 18px;
    }

    .font-text {
        font-size: 0.9rem;
        font-weight: bolder;
        color: variaveis.$corDeFundo;
        text-shadow: 2px 2px 4px variaveis.$corPrincipal;
    }

    header img {
        width: 50%;
    }

    form.card {
        width: 100%;
    }

    header a {
        display: flex;
        justify-content: space-between;
    }

    button.navbar-toggler {
        width: 13%;
    }

    #button-navbar {
        width: 100%;
    }

    .img-size{
        height: 280px;
    }

    .card-tab {
        h2 {
            font-size: 1rem;
            padding-bottom: 8px;
        }

        p {
            padding-top: 8px;
            font-size: 1rem;
        }
    }

    aside {
        width: 100%;
    }



    section#nossa-apresentacao {
        height: 800px;

        .card,
        .card-tab {
            height: 500px;
            margin-top: 28px;
            justify-content: center;
        }

        .img-responsize {
            display: none;
        }
    }

    .tres-colunas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    div.container {
        height: 700px;
    }

    .cunstom-rounded-right {
        display: none;
    }

    .imagem .tooltip {
        width: 6rem;
        font-size: 0.6rem;
    }

    .duas-colunas-servicos-img {
        height: 9rem;

        .h1-style {
            font-size: 1rem;
        }

        .a-img-size{
            width: 9rem;
        }
    }

    section#sobre-nos img.a-img-size
    {
        width: 8rem;
        height: 6rem;
    }

    section#trabalheconosco .a-img-size
    {
        width: 18rem;
        height: 18rem;
    }

    section#trabalheconosco .duas-colunas-servicos-img
    {
        width: 22rem;
        height: 51rem;
        padding: 18px;
    }

}

@media (max-width: 380px) {

    .duas-colunas-servicos-img {
        height: 8rem;

        .h1-style {
            font-size: 0.9rem;
        }

        .a-img-size{
            width: 8rem;
        }
    }


    #valores-size {
        padding: 0;
    }

    #cabecalho {
        display: flex;
        justify-content: center;
    }

    button.navbar-toggler {
        width: 20%;

        &:hover {
            background-color: darken($color: variaveis.$corDetalhes, $amount: 10%);
        }
    }

    #button-navbar {
        width: 100%;
    }

    header img {
        width: 70%;
    }

    .font-text {
        font-size: 0.8rem;
        font-weight: bolder;
        width: 100%;
        padding: 0
    }

    .img-size{
        height: 240px;
    }

    img.logo-fn {
        padding: 0 !important;
    }

    .card-tab {

        h2 {
            font-size: 0.7rem;
        }

        p {
            font-size: 0.7rem;
        }
    }

    div.container {
        width: 300px;
        height: 700px;
    }


    section#nossa-apresentacao {
        height: 900px;

        .img-responsize {
            display: none;
        }

        .card-tab {
            width: 100%;
            height: 600px;
        }
    }


    .tres-colunas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .tab-pane {
        padding: 0;
    }

    .imagem .tooltip {
        width: 5rem;
        font-size: 0.6rem;
    }

    section#trabalheconosco .a-img-size
    {
        width: 16rem;
        height: 16rem;
    }

    section#trabalheconosco .duas-colunas-servicos-img
    {
        width: 18rem;
        height: 57rem;
        padding: 18px;
    }

}